
/*.main{
    border:2px solid red;
    height:2170px;
    width:1792px;
   
}*/
.e1{
  
    height:820px;
    width:1792px;
}
.e2{
   
    height:645px;
    width:1792px;
}
.e3{
   
    height:701px;
    width:1792px;
}
#img1{
    height:250px;
    width:400px;
}
.p{
    font-size:40px;
}
img{
    width:100%;
    height:400px;
}